a {
  text-decoration: none;
}
body {
  background: linear-gradient(
    217deg,
    rgba(209, 232, 201, 0.8),
    rgba(202, 233, 239, 0) 70.71%
  );
}
h1 {
  text-align: center;
  display: inline;
  font-size: 72px;
  font-weight: 600;
}
h4 {
  text-transform: capitalize;
}
h6 {
  font-size: 16px;
  padding-top: 20px;
  display: inline;
  text-align: center;
}
ul {
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}
li {
  font-size: 14px;
  line-height: 1.2;
}
footer {
  font-size: 12px;
  color: #717d7e;
  text-align: left;
}

.appContainer {
  max-width: 512px;
  background-color: white;
  box-shadow: 0px 22px 40px rgba(73, 160, 157, 16%);
  border-radius: 16px;
  margin: 20px auto 5px auto;
  padding: 30px 35px 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #25ada3;
}
.appWrapper {
  max-width: 512px;
  margin: 0 auto;
}
.btn {
  background-color: #83dbca;
  border: 1px solid #83dbca;
  border-radius: 10px;
  padding-left: 6px;
  color: white;
}
.btn:hover {
  background: #5f2c82;
  border: 1px solid #5f2c82;
  color: white;
}
.forecast-day {
  font-size: 15px;
  font-weight: lighter;
}
.form-control {
  border-color: #83dbca;
  border-radius: 10px;
  padding-right: 6px;
}
.forecast-temperatures {
  font-size: 14px;
}
.forecast-temperature-max {
  font-weight: 600;
}
.greeting {
  color: #b2cecc;
  font-weight: 100;
}
.overview {
  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
}
.temperature {
  text-align: right;
}
.weather-forecast {
  background-color: #d1e8e7;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 20px auto 10px;
  text-align: center;
  color: #5f2c82;
  opacity: 0.7;
}
.units {
  font-weight: bold;
  position: relative;
  top: -32px;
}
