a {
  text-decoration: none;
}
h1 {
  display: inline-block;
  font-size: 72px;
}
h4 {
  text-transform: capitalize;
}
ul {
  list-style: none;
  padding-left: 2px;
  padding-top: 30px;
}
li {
  font-size: 14px;
  line-height: 1.2;
}
footer {
  font-size: 12px;
  color: #717d7e;
  text-align: center;
}

.appContainer {
  max-width: 480px;
  border: 1px solid #ccd1d1;
  border-radius: 5px;
  margin: 20px auto 5px auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #717d7e;
}
.temperature .active {
  color: #717d7e;
  cursor: default;
  text-decoration: none;
}
.temperature .active:hover {
  text-decoration: none;
}

.overview {
  text-align: center;
}
.temperature {
  text-align: right;
  padding-right: 0;
  padding-top: 10px;
}
.units {
  position: relative;
  padding-bottom: 20px;
}
