a {
  color: #fff;
}
body {
  background: linear-gradient(#9574af, #73bfbb);
}
h1 {
  text-align: center;
  display: inline;
  font-size: 72px;
  font-weight: 600;
}
h4 {
  text-transform: capitalize;
}
h6 {
  font-size: 15px;
  padding-top: 20px;
  display: inline;
  text-align: center;
  color: #83dbca;
}
ul {
  list-style: none;
  padding-top: 50px;
  padding-left: 0;
  color: #83dbca;
}
li {
  font-size: 14px;
  line-height: 1.4;
}
footer {
  font-size: 12px;
  color: #fff;
  text-align: left;
  margin-bottom: 30px;
}

.appContainer {
  max-width: 512px;
  background-color: white;
  box-shadow: 0px 22px 40px rgba(73, 160, 157, 16%);
  border-radius: 16px;
  margin: 30px auto 5px auto;
  padding: 30px 35px 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #25ada3;
}
.appWrapper {
  max-width: 512px;
  margin: 0 auto;
}
.btn {
  background-color: #83dbca;
  border: 1px solid #83dbca;
  border-radius: 10px;
  color: white;
}
.btn:hover {
  background: #5f2c82;
  border: 1px solid #5f2c82;
  color: white;
}
.forecast-day {
  font-size: 15px;
  font-weight: lighter;
}
.form-control {
  border-color: #83dbca;
  border-radius: 10px;
  padding-right: 6px;
}
.forecast-temperatures {
  font-size: 14px;
  padding-top: 6px;
}
.forecast-temperature-max {
  font-weight: 600;
}
.overview {
  margin-top: 30px;
  text-align: center;
}
.temperature {
  text-align: right;
  position: relative;
  top: 30px;
  margin: 0;
}
.weather-forecast {
  background-color: #ccf2e9;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 10px auto 10px;
  text-align: center;
  color: #5f2c82;
  opacity: 0.7;
}
.weather-description {
  margin-top: 20px;
}
.units {
  font-weight: bold;
  position: relative;
  top: -32px;
}
